name: CI Test & Coverage Badge

on:
  push:
    branches: [main, UnitTest]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install deps
        run: npm install

      - name: Run tests
        run: npm test -- --coverage

      - name: Generate coverage badge
        uses: cuchi/jest-badges-action@v2
        with:
          coverage-summary-path: coverage/coverage-summary.json
          output-path: coverage/badges

      - name: Commit coverage badge
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add coverage/badges
          git commit -m "chore: update coverage badge" || echo "No changes"
          git push
